# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*
cloudflared.log

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Database and Secrets
*.db
*.sqlite
.env
*.csv

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
